/* Reset CSS */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: left; /* コンテナ内のテキストを左詰めにする */
}

.company-name {
    margin-left: 10px; /* 画像とテキストの間の余白を設定 */
    font-size: 50px; /* テキストのフォントサイズを調整 */
    color: #ffffff; /* テキストの色を設定 */
}

header {
    background-color: #f844ad;
    color: #000000;
    padding: 10px 0;
    display: flex; /* ヘッダー内の要素を横並びにするために flexbox を使用 */
    align-items: center; /* 要素を縦方向中央に揃える */
}

header img {
    width: 50px; /* 画像の幅を指定 */
    margin-right: 10px; /* 画像の右側に少し余白を設定 */
}

header h1 {
    font-size: 24px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px; /* ナビゲーションメニュー内のリンクのフォントサイズを指定 */
}

.section {
    padding: 40px 0;
    text-align: center;
    background-color: #ffffff;
}

footer {
    background-color: #f844ad;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

.menu-images {
    display: flex; /* 画像を横並びにする */
    justify-content: space-between; /* 画像を等間隔に配置 */
    flex-wrap: wrap; /* 画像が横幅を超えた場合に折り返す */
}

.menu-images img {
    width: calc(50% - 10px); /* 画像の幅を50%に設定し、間隔を考慮して調整 */
    margin-bottom: 20px; /* 画像間に余白を設定 */
}

.contact-image {
    width: 50px; /* 画像の幅を調整 */
    height: auto; /* 高さを自動調整 */
}

/* スマホやタブレットなどの小さい画面に対応するスタイル */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column; /* 縦表示に変更 */
        text-align: left;
    }

    /* 各セクションの幅を調整 */
    #about, #events, #menu, #contact {
        width: 100%; /* 画面幅いっぱいに広げる */
    }

    /* 各セクションの余白を設定 */
    #about, #events, #menu {
        margin-right: 20px; /* セクション間に余白を設定 */
    }

    /* お問い合わせのセクションはセクションの最後なので、右側の余白を0にする */
    #contact {
        margin-right: 0;
    }

    .company-name {
        font-size: 45px; /* テキストのフォントサイズをスマホ向けに調整 */
    }

    header {
        flex-direction: column; /* ヘッダー内の要素を縦並びにする */
        text-align: center; /* テキストを中央揃えにする */
    }

    header img {
        margin: 0 auto 10px; /* 画像を中央揃えにし、下に少し余白を設定 */
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    nav ul li {
        margin-right: 20px; /* リストアイテム間の右マージンを設定 */
    }

    .menu-images {
        display: flex; /* 画像を横並びにする */
        flex-direction: column; /* 画像を縦並びにする */
        align-items: center; /* 画像を中央揃えにする */
    }

    .menu-images img {
        width: 100%; /* 画像の幅を幅いっぱいにする */
        margin-bottom: 20px; /* 画像間に余白を設定 */
    }

    .contact-image {
        width: 40px; /* 画像の幅を指定 */
    }

    .header-image img {
        width: 100%; /* 画像の幅を幅いっぱいにする */
    }

    .contact-image {
    width: 40px; /* スマホ向けに画像の幅を調整 */
    }
}
